/* line 5, ../sass/style.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 10, ../sass/style.scss */
body {
  overflow: hidden;
}
/* line 13, ../sass/style.scss */
body canvas {
  background-image: url(../R.jpg);
  background-size: 100% auto;
}
